@tailwind base;
@tailwind components;
@tailwind utilities;

/* For custom scrollbar in category bar */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}